<!-- SCRIPT FOR GOOGLE PLUS PLUG-IN -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- SCRIPT FOR FACEBOOK PLUG-IN -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>
footer {
    padding-top: 5px;
    color: #fff;
    padding-bottom: 25px;
    background-color: #2d4a84;
}
footer.basic {
    background-color: #3D5B99 ;
    color: #fff;
}
footer span a:link {
  color: #fff;
}
footer span a:visited {
  color: #fff;
}

#footer-bar{
    background-color: #000;
    font-size: 15px;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
#footer-bar ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
}
#footer-bar ul li {
    display: inline;
    margin-right: 30px;
}
#footer-bar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    transition: color 0.3s, background 0.1s;
}
#footer-bar ul li a:hover {
    color: #fff;
    background-color: #39538B;
}
</style>
<footer>
  <span><a href="#">&#9650; Go Top</a></span>
</footer>
