<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

{% if site.owner.twitter %}<!-- Twitter Cards -->
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">{% endif %}

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">


<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic&subset=latin,greek,latin-ext,vietnamese' rel='stylesheet' type='text/css'>

<!--<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">-->

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">

{% if page.image.background or site.background %}
{% capture background %}{% if page.image.background %}{{ page.image.background }}{% else %}{{ site.background }}{% endif %}{% endcapture %}
{% unless background contains 'http://' or background contains 'https://' %}{% capture background %}{{ site.url }}/images/{{ background }}{% endcapture %}{% endunless %}
<style type="text/css">body {background-image:url({{ background }});}</style>
{% endif %}
<!--No ri-clk-->
<body bgcolor="#FFFFFF" ondragstart="return false" onselectstart="return false">

<script language=JavaScript>
<!--

var message=" ";

///////////////////////////////////
function clickIE4(){
if (event.button==2){
// alert(message);
return false;
}
}

function clickNS4(e){
if (document.layers||document.getElementById&&!document.all){
if (e.which==2||e.which==3){
//alert(message);
return false;
}
}
}

if (document.layers){
document.captureEvents(Event.MOUSEDOWN);
document.onmousedown=clickNS4;
}
else if (document.all&&!document.getElementById){
document.onmousedown=clickIE4;
}

document.oncontextmenu=new Function("return false")
// document.oncontextmenu=new Function("alert(message);return false")

// --> 
// ==========================
var Notification = window.Notification || window.mozNotification || window.webkitNotification;

	Notification.requestPermission(function (permission) {
		// console.log(permission);
	});

	function show() {
		var instance = new Notification(
			"Hello", {
				body: "ABCD"
			}
		);

		instance.onclick = function () {
			// Something to do
		};
		instance.onerror = function () {
			// Something to do
		};
		instance.onshow = function () {
			// Something to do
		};
		instance.onclose = function () {
			// Something to do
		};
	}
	show.click();
</script>

<!-- end nori-clk-->

<style>
p.pos_fixed {
    position: fixed;
    top: 35px;
    left: 25px;
    text-decoration: underline;
}

#navi-bar{
    background-color: #3D5B99;
    font-size: 14px;
    border-bottom: 1px solid #484848;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#navi-bar ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
}
#navi-bar ul li {
    display: inline;
    margin-right: 30px;
}
#navi-bar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    transition: color 0.3s, background 0.1s;
}
#navi-bar ul li a:hover {
    color: #fff;
    background-color: #39538B;
}

#sidebar {
  position: fixed;
  background-color: #648EBA; <!-- #00AFF0 -->
  top: navi-bar-50px;
  padding-top: 36px;
  left: 0px;
  width: 170px;
  height: 100%;
  border-right: 0px solid #282828 ;
  z-index: 8888;
}
 
#content {
  margin: 0 40px 40px 280px;
}

.wpbar {
 background:url(http://www.jqueryrain.com/wp-content/plugins/wp-bar/imgs/bg1.jpg) repeat-x;
}

</style>

<div id="navi-bar">
    <ul>
        <li><a href="http://minhhuy150894.github.io"><b>Home</b></a></li>
        <li><a href="http://minhhuy150894.github.io/posts/"><b>All Posts</b> &#9660;</a></li>
        <li><a href="http://minhhuy150894.github.io/tags/"><b>Categories</b> &#9660;</a></li>
        <li><a href="http://minhhuy150894.github.io/Documents-download/"><b>Documents</b></a></li>
        <li><a href="http://minhhuy150894.github.io/Ask-me/"><b>Ask Me?</b></a></li>
        <li><a href="http://minhhuy150894.github.io/about/"><b>About Me</b></a></li>
    </ul>
</div>

<!--<div id="sidebar">
    <ul>
        <a href="http://minhhuy150894.github.io"><img src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10384363_429420063898285_6259601134916857203_n.jpg?oh=e313439f8022d0d4a0dc861f1b19c1a4&oe=55EA9F33" width="200"></a>
    <br>
    <p>&#9829; have a nice day !</p>
    
    </ul>
</div>-->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5566f8146b96e6e8" async="async"></script>

